 .newsBlockItem {
     position: relative;
     display: flex;
     width: 100%;
     flex-direction: column;
     background-repeat: no-repeat;
     background-size: cover;
     justify-content: center;
     align-items: center;
     color: #f2f2f2;
     font-size: 14px;
     font-weight: 800;
     cursor: pointer;
 }
 
 .newsText {
     position: relative;
     width: 100%;
     font-style: italic;
     text-align: center;
     font-weight: normal;
     font-size: 17px;
 }
 
 .newsComments {
     display: flex;
     justify-content: space-between;
     position: relative;
     width: 100%;
     margin: 20px 0 0 0;
 }
 
 .commentsIcon {
     width: 30%;
     margin: 0 10px;
     display: flex;
     align-items: center;
     font-weight: normal;
 }
 
 .commentsIcon svg {
     margin: 0 10px;
     fill: black;
 }
 
 .commentsDateTime {
     width: 30%;
     margin: 0 0 10px 0;
     font-weight: normal;
     text-align: center;
 }
 
 .containerForNews {
     background-color: #ededed;
     margin: 0 20px 0 0;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 270px;
     border-radius: 5px;
 }
 
 .containerForNews .productImage {
     margin: 10px 7px;
     width: 256px;
 }
 
 .contentContainers .productCardCarousele {
     width: 100vw;
     overflow: hidden;
     margin: 40px 0px 0px 0px;
     position: relative;
 }
 
 .contentContainers .changeSlide {
     margin: 20px 0;
 }