.productsList {
    position: relative;
    width: 100%;
    margin: 20px 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.modificatedProductList {
    grid-template-columns: repeat(3, 1fr);
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #294b76;
    color: white;
    justify-content: space-between;
}

.product img {
    object-fit: contain;
    width: 100%;
}

.productTitle {
    position: relative;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px 0 15px 0;
}

.productTitlePricesInfo {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 5px 0;
}

.productTitlePricesDiscount {
    position: relative;
    width: 50px;
    padding: 8px 4px;
    background-color: #C71585;
    text-align: center;
    border-radius: 8px;
    font-weight: 700;
}

.productTitlePricesPrice {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    margin: 0 10px;
}

.productPrice {
    text-decoration: line-through;
    font-size: 12px;
}

.productPriceDiscounted {
    font-size: 15px;
    font-weight: 600;
}

.basketIcon {
    display: flex;
    background-color: #3CB371;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
}

.basketIcon:hover {
    background-color: #7FFF00;
}

.basketIcon label {
    padding: 3px 6px;
    cursor: pointer;
}