.catalogSearchContainer {
    display: flex;
    width: 100%;
    margin-top: 65px;
    text-align: center;
    position: relative;
    justify-content: center;
}

.searchCategories {
    display: flex;
    align-items: center;
    width: 15%;
    border: 1px solid;
    border-radius: 2px;
}

.searchCategoriesActionButton {
    position: relative;
    width: 90%;
    background-color: #A9A9A9;
    border: none;
    padding: 11px;
}

.searchCategories label {
    position: relative;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A9A9A9;
}

.catalogSearchContainer form.search {
    background-color: #DCDCDC;
    border-radius: 0;
    margin: 0;
}

.catalogSearchContainer form.search input[type="search"] {
    background-color: #DCDCDC;
}

.catalogFiltersSortingContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.catalogFiltersSorting {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border-bottom: 1px solid;
}

.filtersStatus {
    position: relative;
    width: 280px;
}

.filtersToggle {
    display: flex;
    width: 45%;
    position: relative;
}

.filtersToggleGeneralOption {
    margin: 0 0 0 20px;
}

.sortBy {
    position: relative;
    width: 25%;
}

.viewSwitch {
    position: relative;
    width: 10%;
}

.catalogSearchContainer .openedDropDownMenu {
    display: block;
    width: 15%;
    min-width: 138px;
}