.categoriesBtnBlock {
    display: flex;
    position: relative;
    width: 20%;
    background-color: #e0e0e0;
}

.searchCategories {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    border-radius: 2px;
}

.searchCategories.closed {
    display: none;
}

.searchCategoriesActionButton {
    position: relative;
    width: 90%;
    border: none;
    padding: 11px;
    background-color: #e0e0e0;
}

.searchCategories label {
    position: relative;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogSearchContainer form.search {
    background-color: #DCDCDC;
    border-radius: 0;
    margin: 0;
}

.catalogSearchContainer form.search input[type="search"] {
    background-color: #DCDCDC;
}

.dropDownMenu.opened {
    display: flex;
}

.categoriesBtnBlock .dropDownMenu {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    border-radius: 0;
    background-color: white;
    color: #C0C0C0;
}