.catalogFiltersSideBar {
    display: none;
    position: relative;
    width: 280px;
    margin: 5px 0 0 30px;
}

.catalogFiltersSideBar.opened {
    display: block;
}

.filterItem {
    position: relative;
    width: 255px;
    border-bottom: 1px solid;
    color: #595959;
    font-size: 16px;
    margin: 0 20px;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.filterItem [downArrow]::after:hover {
    border-top-color: black;
}

.filterItemTitle {
    position: relative;
    width: 100%;
    margin: 5px 0;
}

.filterItem[downArrow]::after,
.filterItem[upArrow]::after {
    position: absolute;
    top: 18px;
    right: 0;
}

.filterItemOptions .dropDownMenu {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #d3d3d3;
    border-radius: 0;
}

.filterItemOptions .dropDownMenu li {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.optionName {
    margin-left: 5px;
}