.catalogFiltersSorting {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 50px 30px 0 30px;
    border-bottom: 0.5px solid #696969;
    padding: 10px 0;
}

.filtersStatus {
    position: relative;
    width: 280px;
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 0 0 20px;
}

.filtersStatus span,
label {
    cursor: pointer;
}

.filtersToggle {
    display: flex;
    width: 45%;
    position: relative;
}

.filtersToggleGeneralOption {
    margin: 0 0 0 20px;
    cursor: pointer;
    height: 100%;
}

.colorationToggle {
    border-bottom: 2px solid #800080;
    color: #800080;
}

.sortBy {
    display: flex;
    position: relative;
    width: 25%;
    align-items: center;
}

.viewSwitch {
    position: relative;
    width: 10%;
}