.productCardCarousele {
    width: 94vw;
    overflow: hidden;
    margin: 40px 40px 0px 40px;
    position: relative;
}

.imageContainer {
    display: flex;
    transform: translateX(0);
    transition: transform ease-in-out 0.7s;
}

.productImage {
    width: 256px;
    margin: 0 20px;
}

.changeSlide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changeSlideBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.changeSlideBtn:hover svg {
    fill: #800080;
}