#enterForm {
    display: none;
    position: absolute;
    width: 400px;
    min-height: 500px;
    flex-wrap: wrap;
    background-color: #D3D3D3;
    border-radius: 20px;
    justify-content: center;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#enterForm.opened {
    display: flex;
}

.enterFormHeader {
    display: flex;
    position: relative;
    width: 100%;
    margin: 20px 0;
    color: #A9A9A9;
    justify-content: center;
}

#enterForm label.closeForm {
    position: relative;
    right: -125px;
    top: -10px;
}

#enterForm label.closeForm:hover svg {
    fill: black;
    cursor: pointer;
}

#enterForm button[id="close"] {
    display: none;
}

#enterForm input[type="submit"] {
    background-color: #8db300;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    width: 40%;
    align-self: center;
}

#enterForm input[type="submit"]:hover {
    background-color: #00FF00;
}

.titleText {
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

.enterFormPersonalData {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.enterFormPersonalData input {
    position: relative;
    margin: 10px 20px;
    background-color: #DCDCDC;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

.enterFormActionButton {
    position: relative;
    padding: 10px;
    margin: 10px 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    background-color: #AFEEEE;
    border: none;
    border-radius: 10px;
    color: white;
}

.enterFormActionButton:hover {
    background-color: #7FFFD4;
}