#registrationForm {
    display: none;
    position: absolute;
    width: 400px;
    flex-wrap: wrap;
    background-color: #D3D3D3;
    border-radius: 20px;
    justify-content: center;
    z-index: 4;
    top: 15vh;
    right: 35vw;
}

#registrationForm.opened {
    display: flex;
}

.registrationFormHeader {
    display: flex;
    position: relative;
    width: 100%;
    margin: 20px 0;
    color: #A9A9A9;
    justify-content: center;
}

#registrationForm label.closeForm {
    position: relative;
    right: -70px;
    top: -10px;
}

#registrationForm label.closeForm:hover svg {
    fill: black;
    cursor: pointer;
}

#registrationForm button[id="close"] {
    display: none;
}

#registrationForm input[type="submit"] {
    background: linear-gradient(-180deg, #9fbf00, #80ab00 91%);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 15px;
}

#registrationForm input[type="submit"]:hover {
    background: linear-gradient(180deg, #a7c900, #88b500)
}

.titleText {
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

.registrationFormPersonalData {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.registrationFormPersonalData input {
    position: relative;
    padding: 10px;
    margin: 10px 20px;
    background-color: #DCDCDC;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.registrationFormText {
    position: relative;
    width: 100%;
    margin: 20px 10px;
    text-align: center;
}

#registrationForm a {
    color: #FF6347;
    text-decoration: underline;
}