    .dropDownMenu {
        display: none;
        position: absolute;
        width: 255px;
        top: 60px;
        right: -50px;
        z-index: 1;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    
    .dropDownMenu li a {
        color: #737373;
    }
    
    .dropDownMenu li {
        margin: 10px 12px;
        position: relative;
        padding: 5px 0;
        width: 100%;
    }
    
    .dropDownMenu label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .dropDownMenu li:hover a {
        color: black;
    }
    
    .navigationTitleSection:hover>[downArrow]::after {
        border-top-color: black;
    }
    
    .navigationTitleSection:hover>.dropDownMenu {
        display: block;
    }
    
    li[rightArrow]:hover::after {
        border-left-color: black;
    }
    
    hr {
        border: none;
        height: 1px;
        background-color: white;
        margin: 0;
    }
    
    .actionButton {
        position: relative;
        background: linear-gradient(-180deg, #9fbf00, #80ab00 91%);
        width: 150px;
        border: 2px;
        margin: 10px 20px;
        padding: 5px;
        border-radius: 10px;
    }
    
    .actionButton:hover {
        cursor: pointer;
        background: linear-gradient(180deg, #a7c900, #88b500);
        ;
    }
    
    .dropDownMenu.opened {
        display: flex;
        flex-wrap: wrap;
    }
    
    .navigationTitleSection:hover .dropDownMenu.flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }