[rightArrow]::after {
    position: absolute;
    content: "";
    right: 20px;
    top: 6px;
    border-top: 7px solid transparent;
    border-left: 7px solid white;
    border-bottom: 7px solid transparent;
}

[downArrow]::after {
    position: relative;
    content: "";
    top: 15px;
    right: -5px;
    width: 0;
    height: 0;
    border-top: 7px solid white;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

[upArrow]::after {
    position: relative;
    content: "";
    top: 15px;
    right: -5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
}

.colorationDropArrow {
    border-color: black;
}

.rotate180 {
    transition: all 1s linear;
    transform-origin: center;
    transform: rotate(180deg);
}