.changeSlideBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    z-index: 2;
    border-radius: 100%;
    cursor: pointer;
}

[next] {
    right: 0;
}

[previous] {
    left: 0;
}