input[type="checkbox"],
input[type="radio"] {
    display: none;
}

label svg.check {
    display: none;
}

label>input[type="checkbox"]:checked~svg.check,
label>input[type="radio"]:checked~svg.check {
    display: inline-block;
    fill: #800080;
}

label>input[type="checkbox"]:checked~span,
label>input[type="radio"]:checked~span {
    color: #800080;
}

label>input[type="checkbox"]:checked~svg.uncheck,
label>input[type="radio"]:checked~svg.uncheck {
    display: none;
}