html {
    min-width: 700px;
}

body {
    background-color: #d0cfd1;
}

.container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.container hr {
    border: none;
    height: 2px;
    background-color: #DCDCDC;
    margin: 0;
}

ul {
    list-style: none;
    width: 100%;
}

input {
    outline: none;
    border: none;
    background-color: white;
    font-size: 20px;
}

.opened {
    display: flex;
}

.closed {
    display: none;
}

.coloration {
    color: #800080;
}

.colorationUnderline {
    border-bottom: 2px solid #800080;
}