.header {
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    align-items: center;
    background: linear-gradient(90deg, rgba(75, 85, 241, 1) 33%, rgba(230, 102, 226, 1) 90%);
    opacity: 0.9;
    z-index: 2;
}

.logo {
    position: relative;
    width: 200px;
    text-align: justify;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 0 20px;
}

.logo a {
    color: black;
}

.navigation {
    display: flex;
    align-items: center;
    width: 45%;
    min-width: 40%;
    margin: 0 30px;
}

.navigationTitleSection {
    position: relative;
    display: flex;
    align-items: center;
    transition: transform;
    color: white;
    height: 60px;
    margin: 0 20px 0 0;
    min-width: 56px;
}

.navigationTitleSection a[downArrow]:hover {
    transform: scale(1.2);
    color: black;
    cursor: pointer;
}

#basketHeaderIcon {
    position: relative;
    margin: 0 5px;
}