.custom-section .product-tile {
    width: calc(25% - 3 * 8px / 4);
}

.custom-section .product-tile {
    width: calc(50% - 8px / 2);
}

.product-tile {
    margin: 0 0 8px 8px;
    width: calc(25% - 8px);
    font-size: 14px;
}

.product-tile {
    z-index: auto;
}

.product-tile {
    width: calc(50% - 8px);
    font-size: 12px;
}

.product-tile {
    display: block;
    float: left;
    position: relative;
    width: calc(100% - 8px);
}

.product-tile {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}