.drop_down_menu {
    position: absolute;
    width: 170px;
    top: 35px;
    right: 0;
    z-index: 1;
    background-color: #696969;
    border-radius: 10px;
}

.drop_down_menu a {
    color: white;
}

.drop_down_menu a:hover {
    color: black;
}

.drop_down_menu li {
    margin: 10px 0 10px 15px;
    position: relative;
}

.drop_down_menu li:hover {
    text-decoration: underline;
}

li[right_arrow]::after {
    position: absolute;
    content: "";
    background: url('/Shabazzt.github.io/assets/pictures-for-slider/img/Dragon\ Age\ Origins.jpg') no-repeat right center;
}